#Data Science Tools And Ecosystem

## in this notebook data science tools and ecosystem are summerized .

###Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot

|Data science tools|
|-------------------|
|Rstudio|
|Apache spark|
|TensorFlow|

###Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
 #This will convert 200 minutes to hours by diving by 60
 hours=200/60
 print(hours)

3.3333333333333335

**Objectives**
- data science tools
- data science languages
- some arthematic operations

##Auther
Ragda